* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Zen Dots', cursive;
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(31, 31, 31));
}
